# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Popoular coding languages
* popular libraries
* using headers
* executing simple mathematic equations

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| Spyder             |
| RStudio            |
| <h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>|

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
H. Wilcken